// Wrapper to determine width of content
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

// A section of the onepager
.pagesection {
    background-color: $COLOR_MAIN_DARK;
    color: $COLOR_MAIN_LIGHT;

    &.pagesection--padded{
        padding: 48px 0;
    }

    &.pagesection--colored {
        background-color: $COLOR_ACC_DARK;
    }
}

.flex-container {
    display: flex;
    flex-flow: row wrap;

    .flex-column {
        margin-bottom: 32px;

        &:nth-of-type(odd).half {
            padding-left: 16px;
        }

        &:nth-of-type(even).half {
            padding-right: 16px;
        }

        &.full {
            width: 100%;
        }
    
        &.half {
            width: calc(50% - 16px);
            
        }
    
        &.quarter {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 750px) {
    .flex-container {
        .flex-column {
            &:nth-of-type(even).half, &:nth-of-type(odd).half {
                padding: 0;
            }

            &.half, &.quarter {
                width: 100%;
            }
        }
    }

    .wrapper {
        padding: 0 16px;
        width: calc(100% - 32px);
    }
}