.banner-container {
    display: block;
    position: relative;
    padding-top: 110px;

    height: 640px;
    height: 65vh;

    background-image: url("../img/machine-learning-2.jpg");
    background-size: cover;
    background-position: center;

    h2.banner__title {
        margin-top: 128px;
        font-size: 6rem;
    }
}


@media only screen and (max-width: 750px) {
    .banner-container{
        height: 450px;
        height: 50vh;

        h2.banner__title {
            margin-top: 64px;
            font-size: 3rem;
        }
    } 
}
