.navbar {
    width: 100%;
    height: 64px;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;

    background-color: $COLOR_MAIN_DARK;
    border-bottom: 1px solid $COLOR_ACC_DARK;

    h1.sitetitle {
        float: left;
        line-height: 64px;
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }
    .clearfloat {
        clear: both;
    }

    ul.top_navigation {
        list-style-type: none;
        float: right;
        margin: 0;

        li {
            display: inline-block;
            padding-left: 4px;

            a {
                color: $COLOR_MAIN_LIGHT;
                text-decoration: none;
                transition: all 300ms ease;
                line-height: 64px;

                &:hover {
                    color: $COLOR_ACC_MID;
                }
            }


            &.top_navigation__mobilebars {
                display: none;
            }
        }
    }
}

.navigation_mobile {
    display: none;
}

@media only screen and (max-width: 750px) {
    .navbar {
        ul.top_navigation {
            li {
                display: none;

                &.top_navigation__mobilebars {
                    display: block;
                }
            }
        }
    }

    .navigation_mobile {
        display: block;
        position: fixed;
        width: 280px;
        height: 100%;
        height: 100vh;
        right: -280px;
        top: 0;

        transition: right 300ms ease-in-out;

        ul {
            margin-top: 80px;
            text-align: right;
            list-style-type: none;

            li {
                a {
                    color: $COLOR_MAIN_LIGHT;
                    text-decoration: none;
                    transition: all 300ms ease;
                    line-height: 48px;
                    padding: 8px 16px;
                }
            }
        }
    }
}